<?xml version="1.0" encoding="utf-8"?>
<!--
     This configuration file is required if iisnode is used to run node processes behind
     IIS or IIS Express.  For more information, visit:
     https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config
-->
<configuration>
  <system.webServer>
    <!-- Visit http://blogs.msdn.com/b/windowsazure/archive/2013/11/14/introduction-to-websockets-on-windows-azure-web-sites.aspx for more information on WebSocket support -->
    <webSocket enabled="false"/>
    <handlers>
      <!-- Indicates that the server.js file is a node.js site to be handled by the iisnode module -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?"/>
        </rule>
        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
        <!-- All other URLs are mapped to the node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    <!-- 'bin' directory has no special meaning in node.js and apps can be placed in it -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <!-- Make sure error responses are left untouched -->
    <!--
      You can control how Node is hosted within IIS using the following options:
        * watchedFiles: semi-colon separated list of files that will be watched for changes to restart the server
        * node_env: will be propagated to node as NODE_ENV environment variable
        * debuggingEnabled - controls whether the built-in debugger is enabled
      See https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config for a full list of options
    -->
    <!--<iisnode watchedFiles="web.config;*.js"/>-->
    <httpErrors>
      <remove statusCode="400"/>
      <error statusCode="400" path="C:\Inetpub\vhosts\kanaryasokagi.com\error_docs\bad_request.html"/>
      <remove statusCode="401"/>
      <error statusCode="401" path="C:\Inetpub\vhosts\kanaryasokagi.com\error_docs\unauthorized.html"/>
      <remove statusCode="403"/>
      <error statusCode="403" path="C:\Inetpub\vhosts\kanaryasokagi.com\error_docs\forbidden.html"/>
      <remove statusCode="404"/>
      <error statusCode="404" path="C:\Inetpub\vhosts\kanaryasokagi.com\error_docs\not_found.html"/>
      <remove statusCode="405"/>
      <error statusCode="405" path="C:\Inetpub\vhosts\kanaryasokagi.com\error_docs\method_not_allowed.html"/>
      <remove statusCode="406"/>
      <error statusCode="406" path="C:\Inetpub\vhosts\kanaryasokagi.com\error_docs\not_acceptable.html"/>
      <remove statusCode="407"/>
      <error statusCode="407" path="C:\Inetpub\vhosts\kanaryasokagi.com\error_docs\proxy_authentication_required.html"/>
      <remove statusCode="412"/>
      <error statusCode="412" path="C:\Inetpub\vhosts\kanaryasokagi.com\error_docs\precondition_failed.html"/>
      <remove statusCode="414"/>
      <error statusCode="414" path="C:\Inetpub\vhosts\kanaryasokagi.com\error_docs\request-uri_too_long.html"/>
      <remove statusCode="415"/>
      <error statusCode="415" path="C:\Inetpub\vhosts\kanaryasokagi.com\error_docs\unsupported_media_type.html"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="C:\Inetpub\vhosts\kanaryasokagi.com\error_docs\internal_server_error.html"/>
      <remove statusCode="501"/>
      <error statusCode="501" path="C:\Inetpub\vhosts\kanaryasokagi.com\error_docs\not_implemented.html"/>
      <remove statusCode="502"/>
      <error statusCode="502" path="C:\Inetpub\vhosts\kanaryasokagi.com\error_docs\bad_gateway.html"/>
      <remove statusCode="503"/>
      <error statusCode="503" path="C:\Inetpub\vhosts\kanaryasokagi.com\error_docs\maintenance.html"/>
    </httpErrors>
    <tracing>
      <traceFailedRequests>
        <clear/>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\kanaryasokagi.com\tmp"/>
  </system.web>
</configuration>
